.form_field {
  display: block;
  margin-bottom: 10px;
}

.label_cat_answer {
  margin-bottom: 10px;
}

.form_box {
  margin-bottom: 20px;
  padding-bottom: 0;
}

.form_box:first-of-type {
  margin-top: 0;
}

/* select:last-of-type {
  margin-top: 10px;
} */
