.form_field {
  display: block;
}

.form_inputs {
  margin-bottom: 10px;
}

fieldset {
  margin: 20px 0;
  padding-bottom: 0;
}

fieldset:first-of-type {
  margin-top: 0;
}

select:last-of-type {
  margin-top: 10px;
}
